

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color:darkgreen;
}


#div1{
  font-size: 30px;
  width: 80%;
  margin-top:50px;
  margin-right: auto;
  margin-left: auto;
}


#divImg{
  display: flex;
  align-items: center;
  justify-content: center;
}
#div2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  background-color: MediumSeaGreen;
}
body{
  margin-left: 10px;
  margin-right: 10px;
}



